HTML CSSResult Skip Results Iframe
EDIT ON



a, .title {
    text-decoration: none;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    padding: 5px;
}

/* Custom player style */
#main midi-player {
  display: block;
margin: 4px;
  margin-bottom: 0;
  width: 100%;
}

#secton3 {
    position: relative;
    width: 100%;
}

#visualizer0 {
    max-width: 100%;
}

.piano-roll-visualizer {
    transform-origin: left;
}

.piano-roll-visualizer > svg {
    display: block;
    margin: 0;
}
#main midi-visualizer svg rect.note {
  fill: #ccc;
  stroke-width: 0;
}

#main midi-visualizer svg rect.note.active {
  fill: black;
}

#midiFile {
    max-width: 100%;
}

#curtain {
    display: none;
    position: fixed;
    text-align: center;
    line-height: 100%;
    padding-top: 150px;
    font-size: 2rem;
    font-weight: bold;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
}







/* file input */

input[type="file"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

label {
  padding: 10px 25px;
  margin: 0 0 10px;
  background: #aaa;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.fileclear {
  display: none;
  margin: 10px 0 0;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}